@model MvcApp.Models.CustomerSite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomerSite</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.alphabeticId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.alphabeticId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alphabeticId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alphabeticId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.siteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.siteName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateOfLastSale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOfLastSale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.salesAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salesAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WayOfDelivery.deliveryText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WayOfDelivery.deliveryText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.markOfDeletion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.markOfDeletion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentDisruption.paymentDisruptionType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentDisruption.paymentDisruptionType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sales)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sales)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.customerSiteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
